<meta HTTP-EQUIV="REFRESH" content="5; url=<%= users_path %>">
<div class="jumbotron">
  <div class="text-center">
    <h2>Thank you for your <strong>$5.00</strong> donation!</h2>
    <%= image_tag 'cheering.gif' %>
  </div>
</div>
