<div class="row">
  <div class="container">
      <% @user.each do |user| %>
              <%= user.profile.need %>
              <%= link_to 'Donate', new_donate_path, class: 'btn btn-success pull-right' %>
      <% end %>

  </div>
</div>

