<div class="row">
  <div class="container">
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <% if user.profile.need %>
          <li class="well col-md-3 col-sm-offset-1">
            <div>
              <%= user.profile.need %>
              <%= link_to 'Donate', new_donate_path, class: 'btn btn-success pull-right' %>
            </div>
        <% end %>
          </li>
      <% end %>
    </ul>
  </div>


