<div class="container">
<h2 class="white-text text-center">About Us</h2>
  <p class="white-text text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis, mauris nec aliquet gravida,
    libero est iaculis purus, at blandit ex ligula vel mi.
    Pellentesque porttitor hendrerit turpis et mollis. Cras rhoncus tempor mi id mattis. Fusce placerat,
    ipsum quis egestas sagittis, enim magna dapibus sapien,
    nec aliquet diam urna a odio. Aenean a massa vitae lectus suscipit fringilla ullamcorper eget enim.
    Curabitur posuere sapien velit, quis suscipit orci venenatis nec.
    Vivamus vestibulum finibus felis vel maximus. Etiam commodo dictum egestas.
  </p>
  <p class="white-text text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis, mauris nec aliquet gravida,
    libero est iaculis purus, at blandit ex ligula vel mi.
    Pellentesque porttitor hendrerit turpis et mollis. Cras rhoncus tempor mi id mattis. Fusce placerat,
    ipsum quis egestas sagittis, enim magna dapibus sapien,
    nec aliquet diam urna a odio. Aenean a massa vitae lectus suscipit fringilla ullamcorper eget enim.
    Curabitur posuere sapien velit, quis suscipit orci venenatis nec.
    Vivamus vestibulum finibus felis vel maximus. Etiam commodo dictum egestas.
  </p>
  <p class="white-text text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis, mauris nec aliquet gravida,
    libero est iaculis purus, at blandit ex ligula vel mi.
    Pellentesque porttitor hendrerit turpis et mollis. Cras rhoncus tempor mi id mattis. Fusce placerat,
    ipsum quis egestas sagittis, enim magna dapibus sapien,
    nec aliquet diam urna a odio. Aenean a massa vitae lectus suscipit fringilla ullamcorper eget enim.
    Curabitur posuere sapien velit, quis suscipit orci venenatis nec.
    Vivamus vestibulum finibus felis vel maximus. Etiam commodo dictum egestas.
  </p>
</div>
