<div class="jumbotron text-center">
  <h1>Welcome to Micro Donate</h1>

  <h3>Helping anyway we can!</h3>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <div class="well">
      <h2>Need Help?</h2>
      <h4>Looking for a little help</h4>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block'  %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2>Want to donate?</h2>
      <h4>If you're looking to give a little help</h4>
      <%= link_to "Donate", new_user_registration_path, class: 'btn btn-success btn-lg btn-block'  %>
    </div>
  </div>
</div>
